@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    /* scroll-padding: 80px; */
    overscroll-behavior: none;
}
body{
    min-width: 360px;
    overscroll-behavior: none;
}

._section {
    @apply w-full p-5 h-svh md:h-auto relative
}
._wrapper {
    @apply relative z-30 p-5 max-w-[1536px] mx-auto  border-[0.5px] border-gray-200 rounded-2xl
    text-[18px]
}
._h2{
    @apply text-[50px] xs:text-[60px] md:text-[70px] lg:text-[80px] leading-none 
}
._clicked_a{
    @apply border-dashed border-b-[1px] border-gray-300 hover:border-none
}
